<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <activity
            android:name="com.nextgen.plugin.WXEntryActivity"
            android:label="WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="com.edrugsearch.app"
            android:launchMode="singleTask">
        </activity>

        <activity-alias
            android:name="com.edrugsearch.app.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.nextgen.plugin.WXEntryActivity" >
        </activity-alias>
    </application>

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>
</manifest>
